@import 'tailwindcss';

@layer base {
  :root {
    --font-sans: 'Nunito Sans', ui-sans-serif, system-ui, sans-serif;
    --font-serif: 'Faculty Glyphic', ui-serif, Georgia, serif;
  }

  h1, h2, h3 {
    font-family: var(--font-serif);
    font-size: 1.33rem;
    font-weight: 300;
  }

  button {
    cursor: pointer;
  }
}